In [31]:
import pandas as pd
import numpy as np

# read stata data files
df_wave1 = pd.read_stata('21600-0001-Data.dta')
df_wave4 = pd.read_stata('21600-0022-Data.dta')
print(df_wave1.shape, df_wave4.shape)

(6504, 2794) (5114, 920)

In [32]:
df_wave1.head()

,AID,IMONTH,IDAY,IYEAR,SCH_YR,BIO_SEX,VERSION,SMP01,SMP03,H1GI1M,...,PD4A,PD4B,PD4C,PD4D,PD4E,PD4F,PD5,PD5A,AH_PVT,AH_RAW
0,57100270,(6) June,23,(95) 1995,(1) Yes,(2) Female,4,(0) No,(1) Yes,(10) October,...,(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(1) Yes,(1) Yes,86.0,55.0
1,57101310,(5) May,5,(95) 1995,(1) Yes,(2) Female,1,(1) Yes,(0) No,(11) November,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,58.0
2,57103171,(6) June,27,(95) 1995,(0) No,(1) Male,4,(1) Yes,(0) No,(10) October,...,(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(1) Yes,(0) No,120.0,79.0
3,57103869,(7) July,14,(95) 1995,(0) No,(1) Male,4,(1) Yes,(0) No,(1) January,...,(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),NaN,NaN,85.0,56.0
4,57104553,(7) July,14,(95) 1995,(1) Yes,(2) Female,4,(1) Yes,(0) No,(6) June,...,(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(7) Legitimate skip (adolescent not a twin),(1) Yes,(0) No,90.0,59.0

In [33]:
df_wave4.head()

,AID,IMONTH4,IDAY4,IYEAR4,BIO_SEX4,VERSION4,BREAK_Q,PRYEAR4,PRETEST4,PRISON4,...,H4EO5C,H4EO5D,H4EO5E,H4EO5F,H4EO5G,H4EO5H,H4EO5I,H4EO5J,H4EO6,H4EO7
0,57101310,(5) May,6,2008,(2) Female,V5.4,NO,2001,(0) Not a pretest interview,(0) Not a prison interview,...,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(2) Rural town,(1) Very safe
1,57103869,(5) May,22,2008,(1) Male,V5.4,NO,2002,(0) Not a pretest interview,(0) Not a prison interview,...,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,"(4) Urban, residential only",(1) Very safe
2,57109625,(11) November,2,2008,(1) Male,V5.5,NO,2002,(0) Not a pretest interview,(0) Not a prison interview,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,57111071,(6) June,29,2008,(1) Male,V5.4,NO,2001,(0) Not a pretest interview,(0) Not a prison interview,...,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(1) Rural farm,(2) Moderately safe
4,57113943,(11) November,11,2008,(1) Male,V5.5,NO,2002,(0) Not a pretest interview,(0) Not a prison interview,...,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,(0) Not selected,"(5) 3 or more commercial properties, mostly re...",(3) Moderately unsafe

In [34]:
# merge on AID (inner)
df_merged = pd.merge(df_wave1, df_wave4, on='AID', how='inner')
print(df_merged.shape)

(5114, 3713)

In [35]:
# select relevant columns

Y_delinquency = 'H1DS5'
Y_depression = 'H1FS6'

Z_mother = 'H4WP3'
Z_father = 'H4WP9'

covariates = ['H1GI1Y', 'IYEAR', # birth year/year of interview
              'BIO_SEX', # gender
              'H1GI6A', 'H1GI6B', 'H1GI6C', 'H1GI6D', 'H1GI6E', # race
              'H4MA3', # physical abuse
              'H4MA5', # sexual abuse
              ]

In [36]:
df_merged[Y_delinquency].value_counts()

H1DS5
(0) Never              3481
(1) 1 or 2 times       1162
(2) 3 or 4 times        239
(3) 5 or more times     203
(6) Refused              21
(8) Don't know            8
(9) Not applicable        0
Name: count, dtype: int64

In [37]:
df_merged[Y_depression].value_counts()

H1FS6
(0) Never/rarely            3147
(1) Sometimes               1462
(2) A lot of the time        346
(3) Most/all of the time     149
(8) Don't know                 6
(6) Refused                    4
Name: count, dtype: int64

In [38]:
df_merged[Z_mother].unique()

['(0) No', '(1) Yes', '(8) Don't know', '(6) Refused']
Categories (4, object): ['(0) No' < '(1) Yes' < '(6) Refused' < '(8) Don't know']

In [39]:
# process outcome variables

df_merged['Y_delinquency'] = 1
df_merged.loc[df_merged[Y_delinquency] == '(0) Never', 'Y_delinquency'] = 0
df_merged.loc[df_merged[Y_delinquency] == '(6) Refused', 'Y_delinquency'] = np.nan
df_merged.loc[df_merged[Y_delinquency] == '(8) Don\'t know', 'Y_delinquency'] = np.nan
df_merged.loc[df_merged[Y_delinquency] == '(9) Not applicable', 'Y_delinquency'] = np.nan
print(df_merged['Y_delinquency'].value_counts())

df_merged['Y_depression'] = 1
df_merged.loc[df_merged[Y_depression] == '(0) Never/rarely', 'Y_depression'] = 0
df_merged.loc[df_merged[Y_depression] == '(6) Refused', 'Y_depression'] = np.nan
df_merged.loc[df_merged[Y_depression] == '(8) Don\'t know', 'Y_depression'] = np.nan
print(df_merged['Y_depression'].value_counts())

selected_columns = ['Y_delinquency', 'Y_depression']

Y_delinquency
0.0    3481
1.0    1604
Name: count, dtype: int64
Y_depression
0.0    3147
1.0    1957
Name: count, dtype: int64

In [40]:
df_merged[Z_mother].value_counts()

H4WP3
(0) No            4888
(1) Yes            177
(8) Don't know      48
(6) Refused          1
Name: count, dtype: int64

In [41]:
df_merged[Z_father].value_counts()

H4WP9
(0) No            4093
(1) Yes            727
(8) Don't know     292
(6) Refused          2
Name: count, dtype: int64

In [42]:
# process treatment variables

df_merged['Z_mother'] = 1
df_merged.loc[df_merged[Z_mother] == '(0) No', 'Z_mother'] = 0
df_merged.loc[df_merged[Z_mother] == '(6) Refused', 'Z_mother'] = np.nan
df_merged.loc[df_merged[Z_mother] == '(8) Don\'t know', 'Z_mother'] = np.nan
print(df_merged['Z_mother'].value_counts())

df_merged['Z_father'] = 1
df_merged.loc[df_merged[Z_father] == '(0) No', 'Z_father'] = 0
df_merged.loc[df_merged[Z_father] == '(6) Refused', 'Z_father'] = np.nan
df_merged.loc[df_merged[Z_father] == '(8) Don\'t know', 'Z_father'] = np.nan
print(df_merged['Z_father'].value_counts())

selected_columns += ['Z_mother', 'Z_father']

Z_mother
0.0    4888
1.0     177
Name: count, dtype: int64
Z_father
0.0    4093
1.0     727
Name: count, dtype: int64

In [43]:
df_merged['H1GI1Y'].value_counts()

H1GI1Y
(79) 1979       913
(77) 1977       899
(78) 1978       891
(80) 1980       883
(81) 1981       723
(82) 1982       465
(76) 1976       294
(75) 1975        30
(83) 1983         7
(74) 1974         6
(96) Refused      3
Name: count, dtype: int64

In [44]:
df_merged['IYEAR'].value_counts()

IYEAR
(95) 1995    5113
(94) 1994       1
Name: count, dtype: int64

In [45]:
# process covariates

# 1. age
df_merged['birth_year'] = df_merged['H1GI1Y'].apply(lambda x: int(x[1:3])).astype(int)
df_merged.loc[df_merged['birth_year'] == 96, 'birth_year'] = np.nan
df_merged['interview_year'] = df_merged['IYEAR'].apply(lambda x: int(x[1:3])).astype(int)
df_merged['age'] = df_merged['interview_year'] - df_merged['birth_year']
df_merged['age'].describe()
print(df_merged['age'].value_counts(ascending=True))

selected_columns += ['age']

age
21.0      6
12.0      8
20.0     30
19.0    294
13.0    464
14.0    723
15.0    883
17.0    891
18.0    899
16.0    913
Name: count, dtype: int64

In [46]:
df_merged['BIO_SEX'].value_counts()

BIO_SEX
(2) Female     2760
(1) Male       2353
(6) Refused       1
Name: count, dtype: int64

In [47]:
# 2. gender

df_merged['female'] = 1
df_merged.loc[df_merged['BIO_SEX'] == '(1) Male', 'female'] = 0
df_merged.loc[df_merged['BIO_SEX'] == '(6) Refused', 'female'] = np.nan
print(df_merged['female'].value_counts())

selected_columns += ['female']

female
1.0    2760
0.0    2353
Name: count, dtype: int64

In [48]:
# 'H1GI6A', 'H1GI6B', 'H1GI6C', 'H1GI6D', 'H1GI6E'

df_merged['H1GI6E'].value_counts()

H1GI6E
(0) Not marked    4782
(1) Marked         316
(8) Don't know      12
(6) Refused          4
Name: count, dtype: int64

In [49]:
# 3. race

df_merged['white'] = 0
df_merged.loc[df_merged['H1GI6A'] == '(1) Marked', 'white'] = 1
df_merged.loc[df_merged['H1GI6A'] == '(6) Refused', 'white'] = np.nan
df_merged.loc[df_merged['H1GI6A'] == '(8) Don\'t know', 'white'] = np.nan
print(df_merged['white'].value_counts())

df_merged['black'] = 0
df_merged.loc[df_merged['H1GI6B'] == '(1) Marked', 'black'] = 1
df_merged.loc[df_merged['H1GI6B'] == '(6) Refused', 'black'] = np.nan
df_merged.loc[df_merged['H1GI6B'] == '(8) Don\'t know', 'black'] = np.nan
print(df_merged['black'].value_counts())

df_merged['american'] = 0
df_merged.loc[df_merged['H1GI6C'] == '(1) Marked', 'american'] = 1
df_merged.loc[df_merged['H1GI6C'] == '(6) Refused', 'american'] = np.nan
df_merged.loc[df_merged['H1GI6C'] == '(8) Don\'t know', 'american'] = np.nan
print(df_merged['american'].value_counts())

df_merged['asian'] = 0
df_merged.loc[df_merged['H1GI6D'] == '(1) Marked (If Asian/Pacific Islander among R\'s answer ask Q', 'asian'] = 1
df_merged.loc[df_merged['H1GI6D'] == '(6) Refused (skip to Q.8)', 'asian'] = np.nan
df_merged.loc[df_merged['H1GI6D'] == '(8) Don\'t know (skip to Q.8)', 'asian'] = np.nan
print(df_merged['asian'].value_counts())

df_merged['other'] = 0
df_merged.loc[df_merged['H1GI6E'] == '(1) Marked', 'other'] = 1
df_merged.loc[df_merged['H1GI6E'] == '(6) Refused', 'other'] = np.nan
df_merged.loc[df_merged['H1GI6E'] == '(8) Don\'t know', 'other'] = np.nan
print(df_merged['other'].value_counts())

selected_columns += ['white', 'black', 'american', 'asian', 'other']

white
1.0    3456
0.0    1642
Name: count, dtype: int64
black
0.0    3849
1.0    1249
Name: count, dtype: int64
american
0.0    4916
1.0     182
Name: count, dtype: int64
asian
0.0    4916
1.0     182
Name: count, dtype: int64
other
0.0    4782
1.0     316
Name: count, dtype: int64

In [50]:
df_merged['H4MA3'].value_counts()

H4MA3
(6) This has never happened    4171
(1) One time                    239
(5) More than ten times         223
(3) Three to five times         172
(2) Two times                   166
(4) Six to ten times             80
(96) Refused                     32
(98) Don't know                  31
Name: count, dtype: int64

In [51]:
# 4. physical abuse
df_merged['physical_abuse'] = 1
df_merged.loc[df_merged['H4MA3'] == '(6) This has never happened', 'physical_abuse'] = 0
df_merged.loc[df_merged['H4MA3'] == '(96) Refused', 'physical_abuse'] = np.nan
df_merged.loc[df_merged['H4MA3'] == '(98) Don\'t know', 'physical_abuse'] = np.nan
print(df_merged['physical_abuse'].value_counts())

selected_columns += ['physical_abuse']

physical_abuse
0.0    4171
1.0     880
Name: count, dtype: int64

In [52]:
df_merged['H4MA5'].value_counts()

H4MA5
(6) This has never happened    4801
(1) One time                     88
(3) Three to five times          53
(5) More than ten times          50
(2) Two times                    40
(96) Refused                     32
(4) Six to ten times             26
(98) Don't know                  24
Name: count, dtype: int64

In [53]:
# 5. sexual abuse
df_merged['sexual_abuse'] = 1
df_merged.loc[df_merged['H4MA5'] == '(6) This has never happened', 'sexual_abuse'] = 0
df_merged.loc[df_merged['H4MA5'] == '(96) Refused', 'sexual_abuse'] = np.nan
df_merged.loc[df_merged['H4MA5'] == '(98) Don\'t know', 'sexual_abuse'] = np.nan
print(df_merged['sexual_abuse'].value_counts())

selected_columns += ['sexual_abuse']

sexual_abuse
0.0    4801
1.0     257
Name: count, dtype: int64

In [54]:
# Keep only selected columns

df_processed = df_merged[selected_columns].copy()
df_processed.dropna(inplace=True)
print(df_processed.shape)
print(df_processed.head())

(4692, 13)
   Y_delinquency  Y_depression  Z_mother  Z_father   age  female  white
0            0.0           0.0       0.0       0.0  19.0     1.0    0.0  \
1            1.0           1.0       0.0       1.0  18.0     0.0    0.0
2            1.0           0.0       0.0       0.0  14.0     0.0    1.0
3            1.0           1.0       0.0       0.0  14.0     0.0    1.0
4            0.0           0.0       0.0       1.0  16.0     0.0    0.0

   black  american  asian  other  physical_abuse  sexual_abuse
0    1.0       0.0    0.0    0.0             0.0           0.0
1    1.0       0.0    0.0    0.0             1.0           1.0
2    0.0       0.0    0.0    0.0             1.0           0.0
3    0.0       0.0    0.0    0.0             0.0           0.0
4    1.0       0.0    0.0    0.0             0.0           0.0

In [55]:
Y = df_processed['Y_delinquency'].values
covariates_names = ['age', 'female', 'white', 'black',
       'american', 'asian', 'other', 'physical_abuse', 'sexual_abuse']
X = df_processed[covariates_names].values
Z = np.zeros(len(Y))
G = np.zeros(len(Y))
G[(df_processed['Z_mother'] == 1)&(df_processed['Z_father'] == 0)] = 1
G[(df_processed['Z_mother'] == 0)&(df_processed['Z_father'] == 1)] = 2
G[(df_processed['Z_mother'] == 1)&(df_processed['Z_father'] == 1)] = 3

In [56]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from scipy import stats


class IPW:
    
    def __init__(self, Xc, Y, Z, G):
        self.Z = np.squeeze(Z)
        self.Xc = Xc
        self.regressor = np.concatenate((self.Xc,),axis=1)
        self.Y = np.squeeze(Y)
        self.G = np.squeeze(G)
        self.N = Xc.shape[0]
        self.prop_idv, self.prop_neigh = self.est_propensity()
        self.sigXc = self.get_variance()
        
    def get_variance(self):
        model = LinearRegression().fit(self.regressor, self.Y)
        yhat = model.predict(self.regressor)
        sighat = (self.Y - yhat)**2
        #sighat = np.std(self.Y)
        return sighat

    def est_propensity(self):
        prop_idv = 0
        neigh = LogisticRegression(random_state=0,solver='newton-cg',
                                   multi_class='multinomial').fit(self.regressor, self.G)
        prop_neigh = neigh.predict_proba(self.regressor)
        return prop_idv, prop_neigh

    def est(self):
        result_0 = {'tau(0,g)': np.zeros(4), 'se': np.zeros(4), 'se est': np.zeros(4), 'p value': np.zeros(4)}
        
        outcome_model = LinearRegression()
        outcome_model.fit(self.Xc[(self.G==0) & (self.Z==0)], self.Y[(self.G==0) & (self.Z==0)])
        mu00 = outcome_model.predict(self.Xc)
            
        for g in range(1,4):
            v0g = (self.G == g) * (1 - self.Z)/(self.prop_neigh[:,g]*(1-self.prop_idv))
            v00 = (self.G == 0) * (1 - self.Z)/(self.prop_neigh[:,0]*(1-self.prop_idv))
            
            # IPW estimator
            summand_0 = self.Y * v0g/(np.sum(v0g))*self.N - self.Y * v00/(np.sum(v00))*self.N
            
            # AIPW estimator
            outcome_model = LinearRegression()
            outcome_model.fit(self.Xc[(self.G==g) & (self.Z==0)], self.Y[(self.G==g) & (self.Z==0)])
            mu0g = outcome_model.predict(self.Xc)
            summand_0 = (self.Y - mu0g) * v0g/(np.sum(v0g)/self.N) - (self.Y - mu00) * v00/(np.sum(v00)/self.N) + mu0g - mu00
            
            result_0['tau(0,g)'][g] = np.mean(summand_0)
            result_0['se'][g] = np.sqrt(np.var(summand_0)/self.N)
            bound_est = np.mean(self.sigXc**2/(1-self.prop_idv) * 
                            (1/self.prop_neigh[:,g] + 1/self.prop_neigh[:,0]))
            result_0['se est'][g] = np.sqrt(bound_est/self.N)
            result_0['p value'][g] = 2 * (1 - stats.t.cdf(np.abs(result_0['tau(0,g)'][g]/result_0['se est'][g]), np.sum(self.G==g) - self.Xc.shape[1]))
            
        
        return result_0

In [57]:
ipw_estimator = IPW(X, Y, Z, G)
results_0 = ipw_estimator.est()
results_0

{'tau(0,g)': array([0.        , 0.18544597, 0.11767861, 0.19927807]),
 'se': array([0.        , 0.06482623, 0.02200261, 0.06552749]),
 'se est': array([0.        , 0.03698697, 0.01258986, 0.03982072]),
 'p value': array([0.00000000e+00, 4.15569570e-06, 0.00000000e+00, 5.20394286e-06])}

In [58]:
Y = df_processed['Y_depression'].values
ipw_estimator = IPW(X, Y, Z, G)
results_0 = ipw_estimator.est()
results_0

{'tau(0,g)': array([0.        , 0.00770644, 0.04236861, 0.17279601]),
 'se': array([0.        , 0.06490782, 0.02203248, 0.06590551]),
 'se est': array([0.        , 0.03657372, 0.01224703, 0.03904679]),
 'p value': array([0.00000000e+00, 8.33753396e-01, 5.78178608e-04, 4.13012146e-05])}

In [59]:
# run OLS with statsmodel
from statsmodels.api import OLS

#Y = df_processed['Y_delinquency'].values
Y = df_processed['Y_depression'].values
I_mother = np.zeros(len(Y))
I_mother[(df_processed['Z_mother'] == 1)&(df_processed['Z_father'] == 0)] = 1
I_farther = np.zeros(len(Y))
I_farther[(df_processed['Z_mother'] == 0)&(df_processed['Z_father'] == 1)] = 1
I_both = np.zeros(len(Y))
I_both[(df_processed['Z_mother'] == 1)&(df_processed['Z_father'] == 1)] = 1

# regress Y on (constant, I_mother, I_father, I_both)
regressor = np.concatenate((np.ones((len(Y),1)), I_mother.reshape(-1,1), I_farther.reshape(-1,1), I_both.reshape(-1,1), X), axis=1)
# use robust standard errors
model = OLS(Y, regressor).fit(cov_type='HC1')
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.036
Method:                 Least Squares   F-statistic:                     16.00
Date:                Mon, 20 May 2024   Prob (F-statistic):           8.00e-34
Time:                        13:15:06   Log-Likelihood:                -3178.8
No. Observations:                4692   AIC:                             6384.
Df Residuals:                    4679   BIC:                             6468.
Df Model:                          12
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1551      0.075     -2.076      0.038      -0.302      -0.009
x1            -0.0013      0.056     -0.023      0.982      -0.111       0.109
x2             0.0363      0.021      1.734      0.083      -0.005       0.077
x3             0.1008      0.060      1.682      0.093      -0.017       0.218
x4             0.0315      0.004      7.984      0.000       0.024       0.039
x5             0.1240      0.014      8.836      0.000       0.096       0.151
x6            -0.0663      0.038     -1.758      0.079      -0.140       0.008
x7            -0.0441      0.038     -1.158      0.247      -0.119       0.031
x8             0.0377      0.040      0.932      0.351      -0.042       0.117
x9             0.0418      0.047      0.886      0.376      -0.051       0.134
x10           -0.0318      0.044     -0.729      0.466      -0.117       0.054
x11            0.0608      0.019      3.162      0.002       0.023       0.098
x12            0.0996      0.035      2.878      0.004       0.032       0.167
==============================================================================
Omnibus:                    22968.967   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              683.485
Skew:                           0.464   Prob(JB):                    3.83e-149
Kurtosis:                       1.377   Cond. No.                         207.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
"""

In [60]:
I_mother.shape, df_processed.shape

((4692,), (4692, 13))